<!DOCTYPE html>
<html>
  <head>
    <title>TestRailsBreadcrumbs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= breadcrumbs pretext: "You are here: > ", display_single_fragment: false, style: :bootstrap, separator: '&nbsp;/&nbsp;' %>
    <%# breadcrumbs style: :bootstrap, separator: '&nbsp;/&nbsp;' %>
    <%= yield %>
  </body>
</html>
